.about {
    height: 60vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: -12px 0 100px;
    padding-top: 25px;
        @media screen and (max-width: 660px) {
            margin-bottom: 190px;
        }
	&__inner {
        height: 65vh;
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
        @media screen and (max-width: 660px) {
            flex-direction: column;
            height: 80vh;
        }
    }
    &__pic ,
    &__left {
        width: 50%;
        height: 100%;
        @media screen and (max-width: 660px) {
            width: 100%;
            height: 50%;
        }
    }
	&__pic {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;  
	}
	&__left {
        background: $cardBGcol;
        padding: 30px 30px;
        box-sizing: border-box;
	}
	&__description {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;  
	}
	&__title {
        @include title (left); 
        margin: 0;
	}
    &__text {
        width: 100%;
        min-height: 40%;
        line-height: 35px;
            @media screen and (max-width: 960px) {
                font-size: 14px;
                line-height: 31px;
        }
            @media screen and (max-width: 768px){
                max-height: 40%;
                overflow: scroll;
                line-height: 23px;
        }
    }   
	&__btn {
        @include btn(transparent, $primaryBGcol,  10px,  10px, #000);
        font-size: 15px;
        border: 4px $primaryBGcol solid;
        border-bottom: none;
        box-shadow: 0px 3px 0px #247e4b;
        &:hover {
            border-color: #a7a40b9a;
            box-shadow: 0px 3px 0px #a7a40b;
            background: #ffdf00 url("../img/bgPaw.png") 82% 2% no-repeat;
            }
    }
}
