.contacts-main {
    overflow-x: hidden;
}
.contacts-wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts {
    &__pets {
        max-width: 100%;
        margin-bottom: -5.8%;
            @media screen and (max-width: 2560px) {
                margin-bottom: -9.1%;
            }
            @media screen and (max-width: 1920px) {
                margin-bottom: -10.1%;
            }
            @media screen and (max-width: 1536px) {
                margin-bottom: -10.2%;
            }
            @media screen and (max-width: 1440px) {
                margin-bottom: -10.3%;
            }
            @media screen and (max-width: 1024px) {
                margin-bottom: -10.4%;
            }
            @media screen and (max-width: 460px) {
                margin-bottom: -11.3%;
            }
    }
    & a {
        text-decoration: none;
        color: $menuCol;
        font-weight: 600;
        transition: all .5s;
            &:hover {
                text-decoration: underline;
                color: $secondaryBGcol;
            }
    }
    &__heading {
        @include heading (center);
        margin: 0;
    }
    &__bg {
        width: 100vw;
        background: $primaryBGcol;
        padding: 95px 30px 30px 30px;
        box-sizing: border-box;
        margin-bottom: 45px;
            @media screen and (max-width: 425px) {
                padding: 20px; 
            }
    }
    &__title {
        @include title (left);
        font-size: 22px;
        color: $menuCol;
            @media screen and (max-width: 1024px) {
                font-size: 19px;
            }
            @media screen and (max-width: 880px) {
                font-size: 17px;
            }
            @media screen and (max-width: 768px) {
                font-size: 15px;
            }
            @media screen and (max-width: 425px) {
                text-align: center;
            }
    }
    &__description {
        width: 100%;
        @include description(left); 
        color: $menuCol;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
            @media screen and (max-width: 425px) {
                line-height: 27px;
            } 
    }
    &__text {
        @include description(left); 
        color: $menuCol;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
    }
    &__subtitle {
        font-size: 20px;
        text-align: left;
        font-weight: 700;
        color: $menuCol;
            @media screen and (max-width: 1024px) {
                font-size: 18px;
            }
    }
    &__tel,
    &__email,
    &__address {
        width: 50vh;
    }
    &__volunteers {
        max-width: 100%;
        margin-top: -28px;
    }
}
