.footer {
    &__body {
        display: flex;
        flex-direction: column;
        padding: 0  20px;
        @media (max-width: 430px) {
            justify-content: center;
            align-items: center;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 430px) {
            justify-content: center;
            align-items: center;
        }
        .socials {
            align-self: start;
            margin-top: 15px;
        }
    }
    &__logo {
        margin-bottom: 15px;
    }
    &__socials .socials__icon {
        margin-right: 20px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__copyright {
        color: #a6a6a6;
        font-size: 14px;
    }
}
.footer-menu {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 660px) {
        
    }
    &__item {
        max-width: 20%;
        margin: 0 10px 20px 0;
        @media screen and (max-width: 425px) {
            max-width: 30%;
        }
        @media screen and (max-width: 375px) {
            margin: 0 22px 20px 0;
        }
        
    }
    &__category,
    &__subcategory {
        display: block;
        margin-bottom: 7px;
        &:hover {
            opacity: .6;
            transition: all 0.5s ease 0s;
        }
    }
    &__category {
        font-family: Roboto-Medium;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: $primaryBGcol;
        @media screen and (max-width: 425px) {
            font-size: 17px;
        }
    }
    &__subcategory {
        text-decoration: none;
        color: $primaryCol;
        line-height: 20px;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
        @media screen and (max-width: 425px) {
            font-size: 13px;
        }
        @media screen and (max-width: 375px) {
            font-size: 12px;
        }
    }
}
.socials__inner {
    margin: 0px  0px 25px 0;
}
// ------------------ Up Button -------------------
.scroll {
    display: block;
    text-decoration: none;
    width: 38px;
    height: 38px;
    border: 1px solid $primaryBGcol;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 34px;
    padding: 0;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 6px;
            height: 6px;
            border: solid;
            border-color: $primaryBGcol;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg) translate(-75%, -10%);
        }
        &:hover,
        &:focus {
            opacity: .6;
            box-shadow: 0 0 10px -1px #fff;
        }
        &:active {
            opacity: .8;
            box-shadow: inset 0 0 2px 1px #fff;
        }
}
.up-button {
    z-index: 2;
    background-color: $primaryBGcol;
    border-color: $secondaryBGcol;
    margin: 0;
    position: fixed;
    cursor: pointer;
    right: 50px;
    bottom: 50px;
    opacity: .6;
    transition-duration: .3s;
        @media screen and (max-width: 620px) {
            right: 20px;
            bottom: 20px;
        }
    &::after {
        border-color: #FFDF00;
        border-width: 0 2px 2px 0;
        transform: rotate(-135deg) translate(40%, -15%);
    }
    &:hover,
    &:focus {
        opacity: 1;
        border: none;
        box-shadow: 0 0 10px -1px #333;
    }
    &:active {
        box-shadow: inset 0 0 10px -1px #333;
    }
}
