
 // -------------HEADER-SLIDER--------------//
.hero {
    .container{
        @media screen and (max-width: 800px) {
            padding: 0;
        }
    }

}

.header-slider {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    &__item {
        height: 100vh;
    }
    &__inner{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        padding-top: 50px;
        @media screen and (max-width: 1200px) {
            background-position: top 40px right;
        }
        @media screen and (max-width: 770px) {
            background-size:  auto 100%;
            background-position: top 50px center;
        }
        // @media screen and (max-width: 525px) {
        //     background-size:  cover;
        //     background-position: top 50px center;
        // }
        @media screen and (max-width: 425px) {
            background-size: cover;
            background-attachment: local;
            
        }
    }
}   
.header-slider .slick-arrow {
    display: none;
}
.header-slider .slick-dots {
    display: flex;
    margin-top: -95px;
    outline: none;
    @media screen and (max-width: 1024px) {
        margin-top: -30px;
        justify-content: center;
    
    }
    & li{
        list-style: none;
        margin: 0 10px;
        z-index: 6;
        &:focus,
        &:active {
            outline: none;
            }
        &.slick-active button{
            background: $secondaryCol;
            transition: all .3s;
            outline: none;
        }
    }
    & button {
        width: 18px;
        height: 18px;
        background: transparent;
        border: 2px $primaryCol solid;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        margin-bottom: 40px;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
            width: 11px;
            height: 11px;
        }
    }
    
}
.header-heading {
    max-width: 30%;
    color: $primaryCol;
    text-align: left;
    z-index: 3;
    @media screen and (max-width: 800px) {
        display: none;
}
    &__title {
        @include title(left);
        margin: 0;
        line-height: 60px;
    }
    &__description{
        font-size: 17px;
        line-height: 25px;
        @media (max-width: 767px) {
            font-size: 14px;
            // margin: 90px 0px 0px 0px;
        }
        @media screen and (max-width: 424px) {
            font-size: 12px;
            // margin: 50px 0px 0px 0px;
        }
    }
}