
 // -------------HEADER-SLIDER--------------//
.hero {
    .container{
        @media screen and (max-width: 800px) {
            padding: 0;
        }
    }
}
.header-slider {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
    @media screen and (max-width: 425px) {
        height: 93vh;
    }
    &__item {
        height: 100vh;
        @media screen and (max-width: 425px) {
            height: 93vh;
        }
    }
    &__inner{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-position: top 25px right;
        background-size: contain;
        padding-top: 50px;
        position: relative;
        @media screen and (max-width: 1200px) {
            background-position: top 40px right;
        }
        @media screen and (max-width: 770px) {
            background-size:  auto 100%;
            background-position: top 50px center;
        }
        @media screen and (max-width: 425px) {
            background-size: cover;
            background-attachment: local;
            
        }
    }
}  
.pet-tag {
    background: $secondaryBGcol;
    z-index: 3;
    position: absolute;
    bottom: 14%;
    right: 20%;
    text-align-last: left;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 0.2em  0.8em;
    @media screen and (max-width: 425px) {
        bottom: 17%;
        right: 1%;
    }
    &__name {
        display: block;
        font-weight: 500;
        color: $primaryCol;
        font-size: 19px;
        line-height: 38px;
        @media screen and (max-width: 550px) {
            font-size: 15px;
            line-height: 25px;
        }
    }
    &__descr{
        display: block;
        color: #23232385;
        font-size: 12px;
        margin: 3px 0;
        @media screen and (max-width: 550px) {
            font-size: 10px;
            line-height: 11px;
        }
    }
} 
.header-slider .slick-arrow {
    display: none;
}
.header-slider .slick-dots {
    display: flex;
    margin-top: -95px;
    outline: none;
    @media screen and (max-width: 1024px) {
        margin-top: -30px;
        justify-content: center;
    }
    & li{
        list-style: none;
        margin: 0 10px;
        z-index: 6;
        &:focus,
        &:active {
            outline: none;
            }
        &.slick-active button{
            background: $primaryBGcol;
            transition: all .3s;
            outline: none;
        }
    }
    & button {
        width: 18px;
        height: 18px;
        background: transparent;
        border: 2px $primaryCol solid;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        margin-bottom: 40px;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
            width: 11px;
            height: 11px;
        }
    }
}
.header-heading {
    max-width: 30%;
    color: $primaryCol;
    text-align: left;
    z-index: 3;
    @media screen and (max-width: 800px) {
        display: none;
}
    &__title {
        @include title(left);
        margin: 0;
        line-height: 60px;
    }
    &__description{
        font-size: 17px;
        line-height: 25px;
        @media (max-width: 767px) {
            font-size: 14px;       
        }
        @media screen and (max-width: 424px) {
            font-size: 12px;
        }
    }
}
