.help-wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    @media screen and (max-width: 425px) {
        margin-top: 100px;
    }
}
.help {
    &__heading {
        @include heading (center);
        margin-bottom: 50px;
        @media screen and (max-width: 768px) {
            margin-bottom: 15px;
        }
    }
    &__description {
        @include description(left); 
    }
    &__photo-shelter {
        height: 65vh;
        width: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all .5s;
        @media screen and (max-width: 425px) {
            height: 40vh;
        }
        @media screen and (max-width: 375px) {
            background-size: cover; 
            background-position: right bottom;
        }
    }
    &__blockquote {
        position: relative;
        padding: 16px 24px;
        margin: 50px auto;   
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        max-width: 55%;
        @media screen and (max-width: 768px) {
            margin: 25px 30px 0;  
        }
        @media screen and (max-width: 375px) {
            font-size: 15px;
            line-height: 25px;
            padding: 10px 0px;
            margin: 10px 30px;
            }
        }
        &__blockquote:before,
        &__blockquote:after {
            position: absolute;
            color: $primaryBGcol;
            font-size: 100px;
            font-family: Times, sans-serif;    
            line-height: 100px;   
            @media screen and (max-width: 375px) {
                font-size: 50px;
                }
        }
        &__blockquote:before {
            content: '“';
            left: -30px;
            top: -10px;
        }
        &__blockquote:after {
            content: '”';
            right: -30px;
            bottom: -10px;
        }
}
.finance-help {
    width: 100%;
    height: 100%;
    &__title {
        @include title (center);
        line-height: 35px;
        margin: 50px 0 40px;
        @media screen and (max-width: 768px)  {
            margin: 40px 0;
        }
    }
    &__subtitle {
        @include subtitle (center);
    }
    &__payment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin-bottom: -70px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            width: 100%;
        }
    }
    &__right {
        width: 40%;
        @media screen and (max-width: 768px) {
            width: 50%;
        }
        & img {
            max-width: 100%;
        }
    }
    &__btn {
        border: none;
        transform: none;
        padding: 5px  10px;
        font-size: 12px;
        &:hover {
            background: #ffdf00 url("../img/bgPaw.png") 83% 1% no-repeat;
        }
    }
}
.payment-list {
    width: 60%;
    margin: 0;
    padding-left: 17px;
    @media screen and (max-width: 768px) {
        margin: 20px  0px  0px;
        width: 100%;
    }
    @media screen and (max-width: 450px) {
        padding-left: 20px;
    }
    &__item {
        line-height: 25px;
    }
    &__item:not(:last-child) {
        margin-bottom: 20px;
        @media screen and (max-width: 768px)  {
            margin-bottom: 10px;
        }
    }
    &__numberOfCard {
        color: $primaryBGcol;
        font-weight: 700;
    }
}
.box {
    margin-top: 50px;
}
.box ,
.clinics {
    width: 100%;
    &__table {
        table-layout: fixed;
        width: 100%;
        line-height: 30px;
        border-collapse: collapse;
        border: 1px #ccc solid;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            font-size: 14px;
            line-height: 25px;
        }
        @media screen and (max-width: 425px) {
            font-size: 12px;
            line-height: 23px;
        }
            & td {
                width: 20%;
                border: 1px #ccc solid;
                padding: 6px;
                
            }
        }
        & a {
            text-decoration: none;
            font-weight: 500;
            color: inherit;
            transition: all .3s;
                &:hover {
                    text-decoration: underline;
                    color: $primaryBGcol;
                }
        }
    &__area {
        display: block; //to remove the marker from the sammary for Firefox 
        width: 100%;
        border: none;
        outline: none;
        text-align: center;
        font-weight: 700;
        padding: 20px  0px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        margin-bottom: 10px;
            &::-webkit-details-marker {
                display: none
            }
            &::after {
                position: absolute;
                display: block;
                content: '+';
                color: $primaryBGcol;
                float: left;
                font-size: 1.8em;
                font-weight: bold;
                margin: -25px 0px 0px 9px;
                padding: 0;
                text-align: center;
                width: 30px;
            }
        }
    }
.sum-odd {
    background:#ffdd0025 url("../img/bgPaw.png") -724px -3px/100% auto no-repeat;
}
.sum-even {
    background:#ffdd003f url("../img/bgPaw.png") -42px -3px/100% auto no-repeat;
} 
details[open] summary::after {
    content: "-";
    outline: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    width: 30px;
    font-size: 1.8em;
    margin: -25px 0px 0px 9px;
}
details[close] {
    transition: all .5s;
    -webkit-transition: all .5s;
}
tbody tr:nth-child(odd) {
    background: #2ea2601e;
}

tbody tr:nth-child(even) {
    background: #ffdd0025 url("../img/bgPlentyPaw.png") 257px 5px;
}
.kindOF-help {
    width: 100%;
    margin: 30px 0;
    box-sizing: border-box;
    @media screen and (max-width: 450px) {
        padding-left: 15px;
    }
    &__item {
        @include description(left); 
        margin-bottom: 20px;
        line-height: 23px;
        & span {
            font-size: 14px;
            line-height: 21px;
            font-weight: 300;
            @media screen and (max-width: 880px) {
                font-size: 12px;
                line-height: 12px;
            }
            @media screen and (max-width: 768px) {
                font-size: 10px;
            }
        }
    }
}
.kindOF-help a,
.curator a {
    text-decoration: none;
    font-weight: 600;
    color: $primaryBGcol;
    transition: all .3s;
        &:hover {
            text-decoration: underline;
            color: inherit;
        }
}

.how-toHelp {
    width: 100%;
    &__title {
        @include title (center);
        line-height: 35px;
        margin: 80px 0 40px;
}
    &__subtitle {
        @include subtitle (center);
        margin: 50px 0;
        line-height: 35px;
    }
}
.curator {
    width: 100%;
    &__title {
        @include title (center);
        margin: 80px 0 40px;
        line-height: 35px;
    }
    &__subtitle {
        @include subtitle (center);
        
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        & img {
            width: 100%;
        }
        & picture {
            width: 50%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &__description,
    &__right {
        @include description(left); 
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}
.cruel {
    width: 100%;
    &__title {
        @include title (center);
        margin: 80px 0 40px;
        line-height: 35px;
    }
    &__subtitle {
        @include subtitle (center);
        color: rgba(226, 45, 45, 0.877);
        font-weight: 500;
    }
    &__description {
        @include description(left); 
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        & img {
            width: 100%;
        }
    }
    &__description-left{
        width: 60%;
        margin-right: 20px;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-right: 0;
        }
    }
    &__right {
        width: 40%;
        @media screen and (max-width: 768px) {
            width: 50%;
        }
    }
}
.introduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto 30px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin: 30px auto 30px;
    }
    &__movie {
        margin-right: 30px;
        @media screen and (max-width: 768px) {
            margin-right: 0px;
        }
        & iframe {
            width: 560px;
            height: 315px;
            @media screen and (max-width: 600px) {
                width: 360px;
                height: 215px;
            }
            @media screen and (max-width: 450px) {
                width: 270px;
                height: 180px;
            }
        }
    }
    &__description {
        @include description(left); 
    }
}