.num {
    &__title {
        @include title (center);
        margin-top: 95px;
	}
	&__cards {
        display: flex;
        height: 70vh;
        margin-bottom: 100px;
        background: url(../img/bgPlentyPaw.png) 20px 18px;
	
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
	}
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color:#fff;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    perspective: 1000px;
        &:hover .front {
            transform: rotateY(180deg); 
                @media screen and (max-width: 768px) {
                    transform: rotateX(180deg); 
                }
            }
        &:nth-child(even):hover .front {
            transform: rotateY(-180deg); 
                @media screen and (max-width: 768px) {
                    transform: rotateX(-180deg); 
                }
            }
        &:hover .back {
            transform: rotateY(0deg); 
                @media screen and (max-width: 768px) {
                    transform: rotateX(0deg); 
                }
            }
        @media screen and (max-width: 768px) { 
            height: 50vh;
            }
        @media screen and (max-width: 550px) {
            height: 35vh;
        }
}
.card-around {
    width: 28%;
    height: 100%;
        @media screen and (max-width: 768px) {
                width: 90%;
                margin-top: 7px;
        }
        @media screen and (max-width: 425px) {
                width: 100%; 
        }
}
.wrap-middle {
    width: 44%;
    height: 100%;
        @media screen and (max-width: 768px) {
            width: 90%;
        }
        @media screen and (max-width: 425px) {
            width: 100%; 
    }
}
.card-middle {
    height: 50%;
    @media screen and (max-width: 768px) {
        margin-top: 7px;
}
}
.front,
.back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    position: absolute;
    backface-visibility: hidden;
    transition: ease-in-out 0.8s;
    transform-style: preserve-3d;
    box-sizing: border-box;
}
.front {
    padding: 15px  10px  10px  30px;
    color: inherit;
}
.back {
    background: $secondaryBGcol url(../img/bgPlentyPaw.png) 20px 18px;
    transform: rotateY(-180deg);
    color: $primaryCol;
    padding: 10px  15px  10px  15px;
        @media screen and (max-width: 768px) {
            transform: rotateX(-180deg); 
        }
    &__subtitle {
        @include subtitle(center);
        margin: 0;
        box-sizing: border-box;
    }
    &__description {
        width: 100%;
        margin-top: 20px;
        @include description(left);
        max-height: 320px;
        transition: max-height 0.8s;
        overflow: hidden;
        &.short{
            max-height: 100%;
            overflow: scroll;
        }
        & a {
            font-weight: 600;
            text-decoration: underline;
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
            font-size: 17px;
            line-height: 25px;
            @media screen and (max-width: 1024px) {
                font-size: 15px;
            }
            @media screen and (max-width: 880px) {
                font-size: 14px;
                line-height: 21px;
            }
            @media screen and (max-width: 768px) {
                font-size: 15px;
                line-height: 28px;
            }
            @media screen and (max-width: 600px) {
                font-size: 14px;
                line-height: 25px;
            }
            @media screen and (max-width: 425px) {
                font-size: 12px;
                line-height: 16px;
            }
    }
}
.number {
    font-size: 90px;
    @media screen and (max-width: 880px){
        font-size: 70px;
    }
    @media screen and (max-width: 550px)  {
        font-size: 40px;
    }
}
.descr  {
    font-family: Roboto-Bold;
    font-weight: 700;
    font-size: 23px;
    padding: 0;
    max-width: 60%;
    line-height: 50px;
    margin: 0;
    @media screen and (max-width: 880px){
        font-size: 21px;
        max-width: 90%;
    }
    @media screen and (max-width: 550px)  {
        font-size: 17px;
    }
}
.readMore {
    font-size: 12px;
    cursor: pointer;
    text-align: right;
        &:hover {
            font-size: 13px;
            transition:  0.8s;
        }
}