.contacts-wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts {
    &__pets {
        max-width: 100%;
        margin-bottom: -5.2%;
        @media screen and (max-width: 460px) {
            margin-bottom: -6.2%;
        }
    }
    
    & a {
        text-decoration: none;
        color: $menuCol;
        font-weight: 600;
            &:hover {
                text-decoration: underline;
            }

    }
    &__heading {
        @include heading (center);
        margin: 0;
    }
    &__bg {
        height: 80%;
        width: 100vw;
        background: $secondaryCol;
        padding: 50px 30px 30px 30px;
        box-sizing: border-box;
        margin-bottom: 45px;
        @media screen and (max-width: 375px) {
            padding: 15px; 
        }
    }
    &__title {
        @include title (left);
        font-size: 22px;
        color: $menuCol;
        @media screen and (max-width: 1024px) {
            font-size: 19px;
        }
        @media screen and (max-width: 880px) {
            font-size: 17px;
        }
        @media screen and (max-width: 768px) {
            font-size: 15px;
        }
    }
    &__description {
        width: 100%;
        @include description(left); 
        color: $menuCol;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
    &__text {
        @include description(left); 
        color: $menuCol;
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }
    &__subtitle {
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        color: $menuCol;
        @media screen and (max-width: 1024px) {
            font-size: 18px;
        }
        @media screen and (max-width: 880px) {
            font-size: 16px;
        }
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
    &__tel,
    &__email,
    &__address {
        width: 50vh;
    }
    &__volunteers {
        max-width: 100%;
        margin-top: -28px;
    }
}
