
.help-wrapper {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.help {
    &__heading {
        @include heading (center);
    }
    &__description {
        @include description(left); 
    }
    &__photo-shelter {
        height: 50vh;
        width: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all .5s;
        @media screen and (max-width: 425px) {
            height: 40vh;
        }
        @media screen and (max-width: 375px) {
            background-size: cover; 
            background-position: right bottom;
        }
    }
    &__blockquote {
        position: relative;
        padding: 16px 24px;
        margin: 16px 46px;    
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        @media screen and (max-width: 375px) {
            font-size: 15px;
            line-height: 25px;
            padding: 10px 0px;
            margin: 10px 30px;
            }
        }
        &__blockquote:before,
        &__blockquote:after {
            position: absolute;
            color: $secondaryCol;
            font-size: 100px;
            font-family: Times, sans-serif;    
            line-height: 100px;   
            @media screen and (max-width: 375px) {
                font-size: 50px;
                }
            }
        &__blockquote:before {
            content: '“';
            left: -30px;
            top: -10px;
            }
        &__blockquote:after {
            content: '”';
            right: -30px;
            bottom: -10px;
            }
        &__blockquote cite {
            color: $secondaryCol;
            font-size: 15px;
            padding-top: 10px;
            display: block;
            @media screen and (max-width: 375px) {
                font-size: 13px;
                line-height: 15px;
                }
        }
}
.finance-help {
    width: 100%;
    height: 100%;
    &__title {
        @include title (center);
        line-height: 35px;
    }
    &__subtitle {
        @include subtitle (center);
    }
    &__payment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            width: 100%;
        }
    }
    &__right {
        width: 40%;
        @media screen and (max-width: 768px) {
            width: 50%;
        }
        & img {
            max-width: 100%;
        }
    }
    &__btn {
        border: none;
        transform: none;
        padding: 5px  10px;
        font-size: 12px;
    }
}
.payment-list {
    width: 60%;
    margin: 30px 0;
    @media screen and (max-width: 768px) {
        margin: 20px  0px  0px;
        width: 100%;
    }
    @media screen and (max-width: 450px) {
        padding-left: 20px;
    }
    &__item {
        line-height: 25px;
    }
    &__item:not(:last-child) {
        margin-bottom: 20px;
    }
    &__numberOfCard {
        color: $secondaryCol;
        font-weight: 700;
    }
}
.box ,
.clinics {
    width: 100%;
    &__table {
        table-layout: fixed;
        width: 100%;
        line-height: 30px;
        border-collapse: collapse;
        border: 1px #ccc solid;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            font-size: 14px;
            line-height: 25px;
        }
        @media screen and (max-width: 425px) {
            font-size: 12px;
            line-height: 23px;
        }
            & td {
                width: 20%;
                border: 1px #ccc solid;
                padding: 6px;
                
            }
        }
    &__area {
        display: block; //to remove the marker from the sammary for Firefox 
        width: 100%;
        border: none;
        outline: none;
        text-align: center;
        font-weight: 700;
        padding: 20px  0px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
        background: #ffdd003f url("../img/bgPaw.png") 23px 23px; 
        transition: all .5s;
        -webkit-transition: all .5s;
        cursor: pointer;
        margin-bottom: 10px;
            &::-webkit-details-marker {
                display: none
            }
            &::after {
                position: absolute;
                display: block;
                content: '+';
                color: $secondaryCol;
                float: left;
                font-size: 1.8em;
                font-weight: bold;
                margin: -25px 10px 0 0;
                padding: 0;
                text-align: center;
                width: 30px;
            }
        }
    }
details[open] summary::after {
    content: "-";
    outline: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    width: 30px;
    font-size: 1.8em;
    margin: -25px 10px 0 0;
}
details[close] {
    transition: all .5s;
    -webkit-transition: all .5s;
}
tbody tr:nth-child(odd) {
    background: #2ea26038;
}

tbody tr:nth-child(even) {
    background: #ffdd003f url(../img/bgPlentyPaw.png) 70px 1px;
}
.kindOF-help {
    width: 100%;
    margin: 30px 0;
    box-sizing: border-box;
    @media screen and (max-width: 450px) {
        padding-left: 15px;
    }
    &__item {
        @include description(left); 
        margin-bottom: 20px;
        line-height: 20px;
    }
}
.how-toHelp {
    width: 100%;
    &__title {
        @include title (center);
        line-height: 35px;
    }
    &__subtitle {
        @include subtitle (center);
    }
    
}
.curator {
    width: 100%;
    &__title {
        @include title (center);
        line-height: 35px;
    }
    &__subtitle {
        @include subtitle (center);
        
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        & img {
            width: 100%;
        }
        & picture {
            width: 50%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
    &__description,
    &__right {
        @include description(left); 
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}
.cruel {
    width: 100%;
    &__title {
        @include title (center);
        line-height: 35px;
    }
    &__subtitle {
        @include subtitle (center);
        color: rgba(226, 45, 45, 0.877);
    }
    &__description {
        @include description(left); 
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        & img {
            width: 100%;
        }
    }
    &__description-left{
        width: 60%;
        margin-right: 20px;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-right: 0;
        }
    }
    &__right {
        width: 40%;
        @media screen and (max-width: 768px) {
            width: 50%;
        }
    }
}
.introduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto 30px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin: 30px auto 30px;
    }
    &__movie {
        margin-right: 30px;
        @media screen and (max-width: 768px) {
            margin-right: 0px;
        }
        & iframe {
            width: 560px;
            height: 315px;
            @media screen and (max-width: 600px) {
                width: 360px;
                height: 215px;
            }
            @media screen and (max-width: 450px) {
                width: 270px;
                height: 180px;
            }
        }
    }
    &__description {
        @include description(left); 
    }
}