//automation of writing external connection fonts

// @mixin font($font_name, $file_name, $weight, $style) {
//     @font-face {
//         font-family: $font_name;
//         font-display: swap;
//         src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
//         font-weight: #{$weight};
//         font-style: #{$style};
//         }
// }
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,400,500,700&display=swap');


@import "normalize",  
        "vars_mixins", 
        "header",
        "header-slider",
        "donat",
        "lost",
        "adopt",
        "num",
        "about",
        "footer",
        "how-adopt",
        "about-us",
        "help",
        "vet",
        "contacts";


html,
body {
    font-family: $mainFont;
    color: $primaryCol;
    scroll-behavior: smooth;
    &.lock {
    @media (max-width: 767px)  {
        overflow: hidden;
        }
    } 
}
// body {
//     overflow-x: hidden;
// }
.container {
    max-width: 2800px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
    @media (max-width: 2560px) {
        max-width: 1800px;
        padding: 0 35px;
    }
    @media (max-width: 1920px) {
        max-width: 1600px;
        padding: 0 45px;
    }
    @media (max-width: 1600px) {
        max-width: 1300px;
        padding: 0px 45px;
    }
        
    @media (max-width: 1440px) {
        max-width: 1180px;
        padding: 0 20px;
    }
    @media (max-width: 1024px) {
        padding: 0 30px;
        max-width: 900px;
    }
    @media (max-width: 768px) {
        padding: 0 20px;
    }
    @media (max-width: 425px) {
        padding: 0 10px;
    }
}
